<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Push Notifications | HoloNet</title>
	<link rel="stylesheet" href="styles/layout.css" charset="utf-8"/>
  </head>
  <body>
	<header>
		<div class="container">
			<div class="box vcenter">
				<div class="logo"><a href="/"><img src="images/logo.png"/></a></div>
				<div class="expandable"><a href="/">HoloNet</a></div>
				<div><a href="/logout">Log out</a></div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="form">
				<div class="header">Send a Push</div>
				<div class="body">
					<% if (!!locals.error) { %>
					<div class="alert-error">
						<%= locals.error %>
					</div>
					<% } %>
					<% if (!!locals.success) { %>
					<div class="alert-success">
						<%= locals.success %>
					</div>
					<% } %>
					<form method="post" action="/push">
						<div class="field">
							<label for="message">Message</label>
							<textarea id="message" name="message"></textarea>
						</div>
						<div class="field">
							<label for="url">URL (optional)</label>
							<textarea id="url" name="url"></textarea>
						</div>
						<button type="submit" class="button">Send</button>
					</form>
				</div>
			</div>
		</div>
	</main>
  </body>
</html>
