<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page not found | HoloNet</title>
    <link rel="stylesheet" href="styles/layout.css" charset="utf-8"/>
  </head>
  <body>
  	<header>
  		<div class="container">
  			<div class="box vcenter">
  				<div class="logo"><a href="/"><img src="images/logo.png"/></a></div>
  				<div class="expandable"><a href="/">HoloNet</a></div>
  			</div>
  		</div>
  	</header>
  	<main>
	  	<div class="container">
	  		<h1>Page not found</h1>
		    <p>
		        We couldn't find the page you requested.
		    </p>
		    <p>
		    	<a href="/">Back to Home</a>
		    </p>
	  	</div>
  	</main>
  </body>
</html>
