$font-stack: Helvetica, sans-serif;

$navBackground: #131313;
$navText: #CC9E42;
$contentBackground: #000;
$contentHighlightBackground: #1F1F1F;
$contentTitle: #CC9E42;
$contentText: #D1D1D1;
$contentHighlightText: F9D648;
